
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">shop</a>
        </li>
        <li class="nav-item dropdown {% if 'gameapp' in request.path %} active {% endif %}">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'gameapp:allProdCat' %}">All Product</a></li>
            {% for cat in links %}
            <li><a class="dropdown-item" href="#">{{cat.name}}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="fa fa-cart-plus"></i></a>
        </li>
      </ul>
      <form class="d-flex" role="search" action="{% url 'search_app:SearchResult' %}" method="get">
        {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>
</nav>

<nav>
  <ul style="text-align:center;">
    <li><a href="{% url 'gameapp:allProdCat' %}">AllProduct</a> </li>
    {% for cat in links %}
    {% endfor %}
    <li>YourCart()</li>
  </ul>
</nav>